html,
      body {
        width: 96%;
        height: 100%;
        margin: 0;
        padding: 0 2%;
        font-family: "Poppins", sans-serif;
      }
      h1 {
        text-align: center;
      }
      h2 {
        font-size: 22px;
        border-top: 1px solid #E0E0E0;
        margin: 18px 0 0 0;
      }
      input {
        font-size: 15px;
        padding: 2px;
      }
      textarea{
          width: 90%;
          margin: 3px 5%;
          
      }
      #signin-button {
        display: inline-block;
        background-color: white;
        border: 1px solid black;
        font-size: 15px;
        padding: 3px;
      }
      #div-add-note{
          display: none;
          margin-bottom: 6px;
      }
      #btn-new-note, #btn-add-note {
        width: 90%;
        margin: 0 5%;

      }
      #btn-add-note{
          
      }
      .note {
        border: 1px solid gray;
        font-size: 14px;
        width: 90%;
        margin: 3px auto;
        padding: 3px;
      }